<ion-header>
  <ion-toolbar>
    <ion-title>Shopping list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>New item</ion-label>
      <ion-input #myInput placeholder="Enter name" (keypress)="addItem($event)" type="text" 
      required [(ngModel)]="newItem"></ion-input>
      <ion-input placeholder="Enter quantity" (keypress)="addItem($event)" type="number"
      required [(ngModel)]="newItemQuantity"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item-sliding *ngFor="let item of items;index as i">
      <ion-item>
        {{item.quantity}}
        {{item.name}}
      </ion-item>
      <ion-item-options side="end">
        <ion-button color="danger" (click)="removeItem(i)">
          <ion-icon name="trash"></ion-icon>Delete
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
